<div class="grid_3">

<center><h1>Mattress</h1>
</center>

<ul class="tabs center">
<li><a href="#tabc1">King Size</a></li>
<li><a href="#tabc2">Queen Size</a></li>
<li><a href="#tabc3">Full Size</a></li>
<li><a href="#tabc4">Twin</a></li>
<li><a href="#tabc5">Single</a></li>
<li><a href="#tabc6">Accessories</a></li>
</ul>

<div id="tabc1" class="tab-content">
<!-- Gallery -->
<center>
<div class="gallery" id="sets">

  <%for p in @king_size%>
    <div class ="col_4">
      <a href=<%= "\"/images/"+ p.photo_popup_path + "\""%>><%= image_tag(p.photo_path, :size => "300x188") %></a>
      <p><h6><strong><%= p.description %></strong></h6></p>
      <div class="row-entry">
        <%= button_to "Details", p, :class => "button", :method => :get %>
        <!-- <button class="button">Add to <i class="icon-shopping-cart"></i></button> -->
        <%= button_to "Add to Cart", {:action => "add_to_cart", :id => p }, {:class => "button" "icon-shopping-cart"} %>
        <button class="button blue"><h7><%=number_to_currency(p.standard_price)%></h7></button>
      </div>
    </div>
  <%end%>

</div>
</center>
<!--End Gallery -->
</div>

<div id="tabc2" class="tab-content">
<!-- Gallery -->
<center>
<div class="gallery" id="sets">

  <%for p in @queen_size%>
    <div class ="col_4">
      <a href=<%= "\"/images/"+ p.photo_popup_path + "\""%>><%= image_tag(p.photo_path, :size => "300x188") %></a>
      <p><h6><strong><%= p.description %></strong></h6></p>

      <div class="row-entry">
        <%= button_to "Details", p, :class => "button", :method => :get %>
        <!-- <button class="button">Add to <i class="icon-shopping-cart"></i></button> -->
        <%= button_to "Add to Cart", {:action => "add_to_cart", :id => p }, {:class => "button" "icon-shopping-cart"} %>
        <button class="button blue"><h7><%=number_to_currency(p.standard_price)%></h7></button>
      </div>
    </div>
  <%end%>

</div>
</center>
</div>
<div id="tabc3" class="tab-content">
<!-- Gallery -->
<center>
<div class="gallery" id="sets">

  <%for p in @full_size%>
    <div class ="col_4">
      <a href=<%= "\"/images/"+ p.photo_popup_path + "\""%>><%= image_tag(p.photo_path, :size => "300x188") %></a>
      <p><h6><strong><%= p.description %></strong></h6></p>

      <div class="row-entry">
        <%= button_to "Details", p, :class => "button", :method => :get %>
        <!-- <button class="button">Add to <i class="icon-shopping-cart"></i></button> -->
        <%= button_to "Add to Cart", {:action => "add_to_cart", :id => p }, {:class => "button" "icon-shopping-cart"} %>
        <button class="button blue"><h7><%=number_to_currency(p.standard_price)%></h7></button>
      </div>
    </div>
  <%end%>

</div>
</center>
<!--End Gallery -->
</div>
<div id="tabc4" class="tab-content">
<!-- Gallery -->
<center>
<div class="gallery" id="sets">

  <%for p in @twin%>
    <div class ="col_4">
      <a href=<%= "\"/images/"+ p.photo_popup_path + "\""%>><%= image_tag(p.photo_path, :size => "300x188") %></a>
      <p><h6><strong><%= p.description %></strong></h6></p>

      <div class="row-entry">
        <%= button_to "Details", p, :class => "button", :method => :get %>
        <!-- <button class="button">Add to <i class="icon-shopping-cart"></i></button> -->
        <%= button_to "Add to Cart", {:action => "add_to_cart", :id => p }, {:class => "button" "icon-shopping-cart"} %>
        <button class="button blue"><h7><%=number_to_currency(p.standard_price)%></h7></button>
      </div>
    </div>
  <%end%>


</div>
</center>
</div>
<div id="tabc5" class="tab-content">
<!-- Gallery -->
<center>
<div class="gallery" id="sets">

  <%for p in @single%>
    <div class ="col_4">
      <a href=<%= "\"/images/"+ p.photo_popup_path + "\""%>><%= image_tag(p.photo_path, :size => "300x188") %></a>
      <p><h6><strong><%= p.description %></strong></h6></p>

      <div class="row-entry">
        <%= button_to "Details", p, :class => "button", :method => :get %>
        <!-- <button class="button">Add to <i class="icon-shopping-cart"></i></button> -->
        <%= button_to "Add to Cart", {:action => "add_to_cart", :id => p }, {:class => "button" "icon-shopping-cart"} %>
        <button class="button blue"><h7><%=number_to_currency(p.standard_price)%></h7></button>
      </div>
    </div>
  <%end%>
</div>
</center>
<!--End Gallery -->
</div>
<div id="tabc6" class="tab-content">
<!-- Gallery -->
<center>
<div class="gallery" id="sets">

  <%for p in @accessories%>
    <div class ="col_4">
      <a href=<%= "\"/images/"+ p.photo_popup_path + "\""%>><%= image_tag(p.photo_path, :size => "300x188") %></a>
      <p><h6><strong><%= p.description %></strong></h6></p>

      <div class="row-entry">
        <%= button_to "Details", p, :class => "button", :method => :get %>
        <!-- <button class="button">Add to <i class="icon-shopping-cart"></i></button> -->
        <%= button_to "Add to Cart", {:action => "add_to_cart", :id => p }, {:class => "button" "icon-shopping-cart"} %>
        <button class="button blue"><h7><%=number_to_currency(p.standard_price)%></h7></button>
      </div>
    </div>
  <%end%>


</div>
</center>
</div>
</div>