<div class="col_12">
<div class="grid_2">

<!-- Start 4 by paragraphs -->
	<div class="col_3">
	<h5><center>About Us</center></h5>
        <center>
        <p><%= link_to "About Us", about_path  %></p>
        <p></p>
        <p></p>
        </center>
	</div>

	<div class="col_3">
	<h5> <center> All Departments</center></h5>
	<center>
        <p><%= link_to "Living Room", livingroom_path  %></p>
        <%= link_to "Bedroom", beedroom_path  %>
        <%= link_to "Mattress", mattress_path  %>
        <p><%= link_to "Bathroom", bathroom_path  %></p>
        <%= link_to "Kitchen", kitchen_path  %>
        <%= link_to "Office", office_path  %>
        <p><%= link_to "Outdoor", outdoor_path  %></p>
        
        </center>
	</div>

	<div class="col_3">
	<h5><center>Support</center></h5>
	<center>
        <p><%= link_to "Customer Service", customer_service_path  %></p>
        <p><%= link_to "Contact Us", contact_us_path  %></p>
        <p><%= link_to "FAQ", faq_path  %></p>
        </center>
	</div>

	<div class="col_3">
	<h5><center>Chat With Us</center></h5>
	<center>
         <i class="icon-comment-alt icon-4x"></i>
         <p></p>
        </center>
	</div>

</div>
</div>

<div class="clear"></div>

<!-- ============================= START FOOTER ============================ -->
<div id="footer">
  <p>&copy; Copyright 2013 All Rights Reserved. TEAM4OFPS</p>
</div>
<!-- ============================= END FOOTER ============================== -->

